header{
    background-color: rgb(255,228,181);
}

.containerTopo {
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.linkRoute {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.logo-top {
    margin: 0 20px;
    max-width: 50px;
}


@media screen and (max-width: 436px) {
    .containerTopo {flex-direction: column;
}    nav {display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(155,128,81); padding: 5px 30px; width: 90vw;}
}