main {
    width: 100vw;    
}

.section-banner {
    background-color: rgb(255,228,181);    
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(/public/assets/banner-home.png) no-repeat center;
    background-size: contain;
    height: 95vh;
}

h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 2px 3px grey;
}

.banner-grade {
    height: 50vh;
    display: flex;    
    margin: 0 auto
}

.banner-grade div {
        display: flex    ;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.banner-grade img {
    width: 50%;
    max-width: 50vw;
}

.banner-grade p {
    max-width: 500px;
    margin: 30px auto;
    text-align: left;
    font-size: 16px;
}

.banner-grade h3 {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
}
