footer {
    background-color: black;
    color: white;
}

.informacoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 10px;    
}

.informacoes p {
    font-size: 14px;
    text-align: left;
    max-width: 175px;
}

.logo {
    height: 100px;
}

.Copyrights {
    padding: 15px;
    font-size: 14px;
    margin: 0 auto;
}

@media screen and (max-width: 436px) {
    footer {height: 100vh;}
    .informacoes {flex-direction: column;}
    .informacoes p {text-align: center;
    padding-bottom: 10px;
    max-width: 220px;}
    
}

@media screen and (max-width: 768px) {
    footer {height: 100vh;}
    .informacoes {flex-direction: column;}
    .informacoes p {text-align: center;
    padding-bottom: 10px;
    max-width: 220px;}  
}