* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.limitar-secao {
  max-width: 1024px;
  margin: 0 auto;
}

h2 {font-size: 24px;}
h3 {font-size: 18px;}
p {font-size: 16px; padding: 5px;}